.ca--input-select {
    width: 15rem;
    display: inline-block;
    margin-left:  0.5em;
    margin-right: 0.5em;
}
.input-container {
    padding-top:    1em;
    padding-bottom: 1em;
}
label {
    display: inline-block;
}
