/*sidebar logo*/
.site_title img {
    padding: 0 7px;
}
/*sidebar title*/
.site_title span {
    font-size: 19px;
}

.nav.side-menu {
    margin-top: 60px;
}

.nav_title {
    background-color: rgb(17, 40, 62);
}
.site_title {
    line-height: 53px;
}

/*don't show badge in small sidebar*/
.nav-sm .badge {
    display: none;
}

.panel-heading h4{
    font-weight: bold;
    color: #777e86;
}
