{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#        <meta name="description" content="Responsive Admin Dashboard Template">#}
{#        <meta name="keywords" content="admin,dashboard">#}
{#        <meta name="author" content="qingpeng">#}
        <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Title -->
        <title>COOL - COhort OnLine analytical processing system</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
        <meta content="Themesbrand" name="author">
        <!-- App favicon -->

        {% block    css %}
        {% endblock css %}

        <!-- plugin css -->
        <link href="{% static 'static/css/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css">
        <!-- preloader css -->
        <link rel="stylesheet" href="{% static 'static/css/preloader.min.css' %}" type="text/css">
        <!-- Bootstrap Css -->
        <link href="{% static 'static/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{% static 'static/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{% static 'static/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css">
    </head>

    <body>
        {% block    body %}
        {% endblock body %}

        <!-- JAVASCRIPT -->
        <script src="{% static 'static/js/jquery.min.js' %}"></script>
        <script src="{% static 'static/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'static/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'static/js/simplebar.min.js' %}"></script>
        <script src="{% static 'static/js/waves.min.js' %}"></script>
        <script src="{% static 'static/js/feather.min.js' %}"></script>
        <!-- pace js -->
        <script src="{% static 'static/js/pace.min.js' %}"></script>

        <!-- apexcharts -->
        <script src="{% static 'static/js/apexcharts.min.js' %}"></script>

        <!-- Plugins js-->
        <script src="{% static 'static/js/jquery-jvectormap-1.2.2.min.js' %}"></script>
        <script src="{% static 'static/js/jquery-jvectormap-world-mill-en.js' %}"></script>

        {% block    scripts %}
        {% endblock scripts %}

        <script src="{% static 'static/js/app.js' %}"></script>

    </body>
</html>