{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>COOL -- Cohort OLAP Engine Demo for COVID19</title>

    <!-- jQuery -->
{#    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>#}
{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>#}
    <script src="../../static/local/jquery-2.2.4.min.js"></script>
    <script src="../../static/local/jquery-ui.min.js"></script>
    <script src="../../static/local/jquery.ui.touch-punch.min.js"></script>

{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.9.1/d3.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>#}
    <script src="../../static/local/d3.min.js"></script>
    <script src="../../static/local/echarts.min.js"></script>

    <!-- Bootstrap -->
    <link href="../../static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../static/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->

    <!-- bootstrap-progressbar -->
    <link href="../../static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="../../static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="../../static/css/gentelella.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
    {% block    head %}
    {% endblock head %}
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/{{ LANGUAGE_CODE }}" class="site_title">
                        <img src="../../static/img/logo-small.png" id="sidebar-logo" alt="" height="65%"/>
                        <span>COOL Demo</span>
                    </a>
                </div>

                <div class="clearfix"></div>

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <!--<h3>General</h3>-->
                        <ul class="nav side-menu">
                            <li><a href="/{{ LANGUAGE_CODE }}/dashboard"><i class="fa fa-home"></i>{% trans "Dashboard" %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/upload"><i class="fa fa-upload"></i>{% trans "Upload" %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/database"><i class="fa fa-database"></i>{% trans "Database" %}</a></li>
                            <li><a href="/{{ LANGUAGE_CODE }}/figure"><i class="fa fa-image"></i>{% trans "Figure" %}</a></li>
                            {#                    <li><a href="/{{ LANGUAGE_CODE }}/retention"><i class="fa fa-bar-chart"></i>{% trans "Cohort Analysis" %}</a></li>#}
                            <!-- base
                             -->
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                {{request.user.username}}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <!-- <li><a href="/changeLang"></i> English/中文 </a></li> -->
                                <li><a href="/{{ LANGUAGE_CODE }}/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" style="min-height: 900px">
            {% block    body %}
            {% endblock body %}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-left">
            {% block    end %}
            {% endblock end %}
            </div>
            <div class="pull-right">
                Copyright © COOL
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- select2 -->
{#<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>#}
<link href="../../static/local/select2.min.css" rel="stylesheet" />
<script src="../../static/local/select2.min.js"></script>
<!-- Bootstrap -->
<script src="../../static/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../../static/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../../static/vendors/nprogress/nprogress.js"></script>
<script src="../../static/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="../../static/vendors/moment/min/moment.min.js"></script>
<script src="../../static/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Custom Theme Scripts -->
<script src="../../static/js/custom.js"></script>
<!-- AngularJS -->
{#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>#}
<script src="../../static/local/angular.min.js"></script>
<script src="../../static/local/angular-ui-router.js"></script>
<script>
    'use strict';
    var STATIC_ROOT = "{% static '' %}";
</script>

{% block    scripts %}
{% endblock scripts %}
</body>
</html>
