<!DOCTYPE html>
{% load static %}

<html ng-app='app'>
<head>
<title>COOL -- Cohort OLAP Engine Demo for COVID19</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">#}
{#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">#}
<link rel="stylesheet" href="../../static/local/bootstrap.min.css">
<link rel="stylesheet" href="../../static/local/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../static/local/font-awesome.min.css">

<style>
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    isplay: none !important;
}</style>
</head>

<body class='{{ container | default:'container' }}' style='background-image: url("../../static/img/wallpaper.jpg") ; background-size: 100%;overflow:visible;'>

{% if user.is_authenticated %}
    <div class="btn dropdown pull-right">
        <div class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            {{user}}
        </div>

        <ul class="dropdown-menu text-left">
            <li role="presentation"><a href="/logout/">Logout</a></li>
            <li role="presentation"><a href="/password_change/">Change password</a></li>
        </ul>
    </div>
{% endif %}

{% if messages %}
<div class="alert alert-info {{ alert_tag}} alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>

    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% block    body_header %}
{% endblock body_header %}

{% block    body_contents %}
{% endblock body_contents %}

{% block    body_footer %}
{% endblock body_footer %}

<script id='spinner.html' type='text/ng-template'>
    <div ng-style='{ "position": "absolute", "top": $ctrl.top, "left": $ctrl.left }'>
        <i class="fa fa-refresh fa-spin fa-3x fa-fw" style='color:blue'></i>
    </div>
</script>


{% block    js %}
{% endblock js %}

</body>
</html>
