{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block    head %}
{% endblock head %}

{% block    body %}
    <div class="row" style="padding: 30px;">
        {% if root_flag %}
        <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
            <h2><b>{% trans "Total Uploaded Datasets" %}</b></h2>
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <button class="btn btn-info btn-block"><b>{{ all_datasets }}</b></button>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
            <h2><b>{% trans "Total Used Storage" %}</b></h2>
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <button class="btn btn-info btn-block"><b>{{ all_storage }} MB</b></button>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
            <h2><b>{% trans "Total Analysis Figures" %}</b></h2>
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <button class="btn btn-info btn-block"><b>{{ all_figures }}</b></button>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 text-center mt-1">
            <h2><b>{% trans "Total Users" %}</b></h2>
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <button class="btn btn-info btn-block"><b>{{ all_users }}</b></button>
            </div>
        </div>
        {% endif %}
        <div class="col-md-4 col-sm-6 col-xs-12 text-center mt-1">
            <h2><b>{% trans "Uploaded Datasets" %}</b></h2>
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <button class="btn btn-info btn-block"><b>{{ sel_datasets }}</b></button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 text-center mt-1">
            <h2><b>{% trans "Used Storage" %}</b></h2>
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <button class="btn btn-info btn-block"><b>{{ sel_storage }} MB</b></button>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12 text-center mt-1">
            <h2><b>{% trans "Analysis Figures" %}</b></h2>
            <div class="col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">
                <button class="btn btn-info btn-block"><b>{{ sel_figures }}</b></button>
            </div>
        </div>

    </div>
    <div class="row">
        {% for key,value in databases.items %}
            <div class="col-xs-12">
                <div class="panel panel-default panel-container" >
                    <div class="panel-heading">
                        <h4>{{ value.name }} ({{ value.date }})</h4>
                    </div>
                    <div class="panel-body">
                        <div  style="height:300px" class="chartpanel" >

                            <div class="col-xs-2">
                                <div>
                                    <h2>Num of IDs: </h2>
                                    <h1>{{ value.num_ids }}</h1>
                                </div>
                                <div>
                                    <h2>Num of Records: </h2>
                                    <h1>{{ value.num_records }}</h1>
                                </div>
                                <div>
                                    <h2>Involved Dates: </h2>
                                    <h1>{{ value.involved_dates }}</h1>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                {% for fig in value.figures %}
                                    <div id="{{ fig }}" style="width: 320px;height:280px; float: left;"></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript">
        {% for key,value in figures.items %}
            var tem_{{ key }} = echarts.init(document.getElementById("{{ key }}"));
            {% if value.type == "pie" %}
                var option_{{ key }} = {
                    title: {
                        text: '{{ value.title }}',
                        subtext: '',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: '{a} <br/>{b} : {c} ({d}%)'
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: {{ value.y_label|safe }},
                    },
                    series: [
                        {
                            name: '{{ value.feature }}',
                            type: 'pie',
                            radius: '60%',
                            center: ['50%', '60%'],
                            data: [
                                {% for key2, value2 in value.data.items %}
                                    {value: {{ value2 }}, name: '{{ key2 }}'},
                                {% endfor %}
                            ],
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 20,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
            {% elif value.type == "bar" %}
                var option_{{ key }} = {
                    title: {
                        text: '{{ value.title }}',
                        subtext: '',
                        left: 'center'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'        // 'line' | 'shadow'
                        }
                    },
                    xAxis: {
                        type: 'category',
                        data: {{ value.y_label|safe }},
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [{
                        data: {{ value.data|safe }},
                        type: 'bar'
                    }]

                };
            {% endif %}
            tem_{{ key }}.setOption(option_{{ key }});
        {% endfor %}
    </script>
{% endblock %}





