{% extends 'base.html' %}
{% load static %}
{% load i18n %}



{% block    body %}
<style>
    .panel-title {
        display: hidden;
    }

    .select {
        color: white;
        padding: 8px;
        background-color: rgb(16, 89, 150);
        cursor: pointer;
        display: inline-block;
        font-size: 8pt;
        height: 30px;
        font-weight: bold;
    }

    .delete {
        color: white;
        padding: 8px;
        background-color: rgb(104, 104, 104);
        cursor: pointer;
        display: inline-block;
        font-size: 8pt;
        height: 30px;
        font-weight: bold;
    }
</style>
<div class="col-md-12">
    <h2><b>{% trans "Database" %}</b></h2><br />
    <h2>Select for analysis</h2>
</div>
<div class="row"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">List of uploaded datasets</h3>
    </div>
    <div class="panel-body">
        <table class="table datatable_simple">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Database Name</th>
                    <th>File Name</th>
                    <th>Num of IDs</th>
                    <th>Num of Records</th>
                    <th>Involved Dates</th>
                    <th>Uploaded Date</th>
                    <th>File Size</th>
                    <th colspan="2" style="text-align: center;">Option</th>
                </tr>
            </thead>
            <tbody>
                {% for key,file in files.items %}

                <tr>

                    <td>{{ file.index }}</td>
                    <td>{{ file.file_name }}</td>
                    <td>{{ file.file_save }}</td>
                    <td>{{ file.num_ids }}</td>
                    <td>{{ file.num_records }}</td>
                    <td>{{ file.involved_dates }}</td>
                    <td>{{ file.file_date }}</td>
                    <td>{{ file.file_size }}MB</td>
                    <td style="text-align: center;">
                        <form method="POST" enctype="multipart/form-data" action="./database/">{% csrf_token %}
                            <input name="file_save" value="{{ file.file_save }}" type="hidden">
                            <input name="file_operation" value="select" type="hidden">
                            <input value="Select" type="submit" class="select">
                        </form>
                    </td>
                    <td style="text-align: center;">
                        <form method="POST" enctype="multipart/form-data" action="./database/">{% csrf_token %}
                            <input name="file_save" value="{{ file.file_save }}" type="hidden">
                            <input name="file_operation" value="delete" type="hidden">
                            <input value="Delete" type="submit" class="delete">
                        </form>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}


{% block    scripts %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock scripts %}