{% extends 'base.html' %}
{% load static %}

{% block    head %}
{% endblock head %}

{% block    body %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="alert alert-danger">
                <strong>{{ type }} Error!</strong> {{ advice }}
            </div>
            <h3>Detail information:</h3>
            {% for info in details %}
                <div> {{ info }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}
{% block    end %}
    For technical support, please put the question in GitHub or contact with qingpeng@comp.nus.edu.sg
{% endblock end %}
