{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block    body %}
<style>
    .submit {
        color: white;
        padding: 8px;
        background-color: rgb(16, 89, 150);
        cursor: pointer;
        display: inline-block;
        font-size: 8pt;
        height: 30px;
        font-weight:bold;
    }
</style>
<div class="col-md-12">
    <h2><b>{% trans "Figure Design" %}</b></h2><br />
        <h2>Customise your metrics</h2>
        <form method="POST" enctype="multipart/form-data" action="./figure_design/">{% csrf_token %}
            <div>
                <div class='input-label'>What metric do you want to get</div>
                <select class='form-control input-select' name="aggregator">
{#                    <option value='COUNT'    >COUNT</option>#}
{#                    <option value='SUM'      >SUM</option>#}
                    <option value='RETENTION'>RETENTION</option>
{#                    <option value='SIMPLE'>SIMPLE</option>#}
{#                    <option value='RANGE'>RANGE</option>#}
                </select>
            </div>
            <br/>
            <div>
                <div class='input-label'>It will take action on</div>
                <select class="form-control select" name="tableFieldName">
                {% for key in columns %}
                    <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
                </select>
            </div>
            <br/>
            <div>
                <div class='input-label'>Name it as</div>
                <input type="text" name="name">
            </div>
            <br/><input type="submit" class="submit">
        </form>
    </div>
{% endblock body %}


{% block    scripts %}
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
{% endblock scripts %}
